<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
       <div>
        <p>Lugar para poner barra de búsqueda</p>
       </div>
        <p> Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
        <ul>
            <li><a href="#Ofertas">Ofertas</a></li>
            <li><a href="#Tiendas-Oficiales">Tiendas Oficiales</a></li>
            <li><a href="#Vender">Vender</a></li>
            <li><a href="#Ayuda">Ayuda</a></li>
        </ul>
    </nav>
    <nav>
            <ul>
                <li><a href="#Crea-Tu-Cuenta">Creá Tu Cuenta</a></li>
                <li><a href="#Ingresá">Ingresá</a></li>
                <li><a href="#Mis-Compras">Mis Compras</a></li>
            </ul>
        </nav>

    </header>
    <main>
    
        <section>
            <article>
            <h4>Basado en tu última visita</h4>
                <p>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                   <br> $6.770 <br> 40% OFF <br> Cafetera Moulinex
                </p>
                <p>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <br> $230.000 <br> 20% off <br> MacBook Pro 2019
                </p>
                 <p>
                 <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy ">
                  <br> $70.500 <br> 10% off <br> Samsung Galaxy S10
                </p>
                <p>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                   <br> $23.200<br>5% off<br> SmartTv Samsung 43" 
                 </p>
             </article>
        </section>
        <section> 
            <article>
           <h4> Ofertas</h4>
          
              <p><img src="/images/img-cafetera-moulinex.jpg" alt=" imagen de la cafetera">
                   <br>$6.770 <br> 40% off <br>Cafetera Moulinex </p>
                   <p>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <br> $230.000 <br> 20% off <br> MacBook Pro 2019
                </p>
                <p>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy ">
                   <br> $70.500 <br> 10% off <br> Samsung Galaxy S10
                </p>
                <p>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                   <br> $23.200<br>5% off<br> SmartTv Samsung 43" 
                 </p>
           </article>
         </section>
    </main>
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h4> Seguridad, de principio a fin </h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>