<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
       <div>
        <p>Lugar para poner barra de búsqueda</p>
       </div>
        <p> Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
        <ul>
            <li><a href="#Ofertas">Ofertas</a></li>
            <li><a href="#Tiendas-Oficiales">Tiendas Oficiales</a></li>
            <li><a href="#Vender">Vender</a></li>
            <li><a href="#Ayuda">Ayuda</a></li>
        </ul>
    </nav>
    <nav>
            <ul>
                <li><a href="#Crea-Tu-Cuenta">Creá Tu Cuenta</a></li>
                <li><a href="#Ingresá">Ingresá</a></li>
                <li><a href="#Mis-Compras">Mis Compras</a></li>
            </ul>
        </nav>

    </header>
    <main>
    
        <section>
             <h2>Basado en tu última visita</h2>
      <div>
  <article> 
                      
                 <h5> <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                   <br> $6.770 <br> 40% OFF <br> Cafetera Moulinex</h5>
                
                <h5>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <br> $230.000 <br> 20% off <br> MacBook Pro 2019
                </h5>
                 <h5>
                 <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy ">
                  <br> $70.500 <br> 10% off <br> Samsung Galaxy S10
                </h5>
                <h5>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                   <br> $23.200<br>5% off<br> SmartTv Samsung 43" 
                 </h5>
             </article>
            </div>
        </section>
        <section> 
             <h2> Ofertas</h2>
            <article>
                   <h5><img src="/images/img-cafetera-moulinex.jpg" alt=" imagen de la cafetera">
                   <br>$6.770 <br> 40% off <br>Cafetera Moulinex </h5>
                   <h5>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <br> $230.000 <br> 20% off <br> MacBook Pro 2019
                </h5>
                <h5>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy ">
                   <br> $70.500 <br> 10% off <br> Samsung Galaxy S10
                </h5>
                <h5>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                   <br> $23.200<br>5% off<br> SmartTv Samsung 43" 
                 </h5>
           </article>
         </section>
    </main>
    <footer>
        <section>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <h5>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</h5>
        </section>
        <section>
            <h2>Envío gratis desde $ 2.500</h2>
            <h5>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</h5>
        </section>
        <section>
            <h2> Seguridad, de principio a fin </h2>
            <h5>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</h5>
        </section>
        
        <section>
            <h5>
                 Copyright © 1999-2020 MercadoLiebre S.R.L.
                </h5>
        </section>
    </footer>
</body>
</html>