footer h3{
    font-size: 16px;
    font-weight: 900;
    color: #666;
   
}

.footer {
    font-size: 12px;
    color: hsl(0, 0%, 92%);
    margin: 3px 50px;
}

footer i {
    color: #1259c3 ;
    font-size: 25px; 
   
}

 .icono_tarjeta i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;


  }
  
  .icono_regalo i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
  
  }
  
 .icono_seguridad i  { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

h3 {
    color: #666;
    text-align: center;
    align-items: center;
  }

h5 {
    color: #666;
    font-weight: normal;
    margin: 15px;
    text-align: center;
  }

  footer .icono_regalo, .icono_seguridad, .icono_tarjeta{
    position: relative;
    left: 8px;
  }
  .icono_regalo i, .icono_seguridad i, .icono_tarjeta i{
    transition: color 1s ease;
  }

  .icono_regalo i:hover, .icono_seguridad i:hover , .icono_tarjeta i:hover{
    color:#39b54a
  }

  @media (min-width:768px) {

    footer .icono_regalo, footer .icono_seguridad, footer .icono_tarjeta {
        position: relative;
        left: 25px;
    }
}

@media (min-width:1440px) {

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .icono_regalo, footer .icono_seguridad, footer .icono_tarjeta {
  width: 30%;
}
}