*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.banner{
    width: 100%;

}

.main_section{
    width: 100%;
    padding: 20px;
    background-color: #ebebeb ;
}

.home_articulo{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin: 20px 0px;
   
}

.montos_home_articulo{
    display: flex;
    flex-direction: row;
    gap: 15px; 
    
}

.home_articulo img{
    width: 100%;
}

.icono_camion{
    display: flex;
    justify-content: end;
}


.icono_camion  i{
    display: flex;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    color:#39b54a;
    transition: all 5s;
}
.icono_camion i:hover{
    transform: rotate(360deg);
}

.precio {
    font-size: 16px;
    flex-direction: row ;
   
}
.descuento {
    font-size: 16px;
    color: #08912a;
 }   

 .descuento{
    flex-direction: row;
    flex-wrap: wrap;
}

.home_articulo:hover {
    box-shadow: 0 4px 6px 5px rgba(68, 68, 68, 0.8);
    cursor: default;
}
.home_articulo:hover .descripcion{
    display: block;
    animation: aparecerDescripcion 3s ease;
}
@keyframes aparecerDescripcion {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (min-width: 768px){


    .home_productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .home_articulo{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

}

@media (min-width: 1024px){
    .home_productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
     .home_articulo {
        width: 24%;
    }
}