.main_register .formulario_register_mercadoLiebre {
    background-color: var(--colorGrisClaro);
}

.main_register .formulario_register_mercadoLiebre form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.main_register .formulario_register_mercadoLiebre form input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border:1px solid #383838;
}

.main_register .formulario_register_mercadoLiebre form .datos input {
    width: 90%;
    position: relative;
    left: 10px;
    border: 2px;
    border-radius: 8px;
}

.main_register .formulario_register_mercadoLiebre form .button_enviar_borrar button {
    width: 50%;
    position: relative;
    left: 80px;
    border: 2px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--colorCeleste);
    color: #ebebeb;
    padding: 2px;
    margin-bottom: 5px;
}
 .perfil_usuario , .interes , .fecha, .foto{
    margin: 0 20px;
    margin-top: 3%;
    font-size: 16px;
    color: #383838;
 }
.checkbox{
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

.button__enviar:hover {
    animation: colorEnviar 5s ease-in-out;
    background-color: #0022AA;
}


@media (min-width:768px) {
    .main_register .formulario_register_mercadoLiebre form .datos input {
        left: 25px;
    }

    .main_register .formulario_register_mercadoLiebre form .datos select {
        left: 40px;
        padding: 5px;
        margin-top: 10px;
    }

    .main_register .formulario_register_mercadoLiebre form .button_enviar_borrar button {
        left: 190px;
        padding: 5px;
        margin: 5px;
        width: 50%;
    }
    .main_register .formulario_register_mercadoLiebre .password input {
        width: 90%;
        position: relative;
        left: 30px;
    }
}

@media (min-width:1440px) {
    .main_register .formulario_register_mercadoLiebre form .datos input {
        left: 400px;
        width: 600px;
        left: 60px;
        display: flex;
        justify-content: center;
    }

    .main_register .formulario_register_mercadoLiebre form .datos select {
        left: 70px;
        padding: 5px;
        margin-top: 10px;
       
        }

    .main_register .formulario_register_mercadoLiebre form .button_enviar_borrar button {
        width: 300px;
        padding: 10px;
        left: 400px;
        top: 1px
        

    }
    .main_register .formulario_register_mercadoLiebre .password input {
        width: 90%;
        position: relative;
        left: 70px;
        top:14px
     
    }
}